---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ScratchcardHeader from "../components/ScratchcardHeader.astro";

export enum HeaderType {
    DEFAULT,
    SCRATCH,
}

export interface Props {
    title: string;
    description: string;
    headertype?: HeaderType;
}

const { title, description, headertype = HeaderType.DEFAULT } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        {headertype === HeaderType.DEFAULT ? <Header /> : <ScratchcardHeader />}
        <slot />
    </body>
</html>
